html{
	overflow-y: scroll;
}

#wrap {
	width: 900px;
	margin: 0 auto;
}

.sidebar {
	float: left;
	width: 20%;
}

.sidebar .section{
	background:url(/img/mod-bg.png) repeat;
	border:1px solid #d9d9d9;
	border-left:none;
	border-top:none;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-moz-border-bottom-right-radius:4px;
	box-shadow:inset 0 0 2px rgba(200,200,200,0.8);
	margin-bottom:10px;padding-top:5px
}

.sidebar .section h2{
	background:url(/img/sidebar-h1.png) repeat;
	height:25px;
	line-height:25px;
	border-top: 1px solid #b8b8b8;
	border-bottom:1px solid #b8b8b8;
	margin:10px 0;
	padding-left:30px;
	font-size:14px;
	color:#333;
    box-shadow:0 1px 1px #d1d1d1
}

.sidebar .section .list-top .post{
	height:37px;
	line-height:37px;
	font-size:13px;
	padding-left:34px;
	border-bottom:1px solid #c8c8c8;
	color:#444;
	margin-right:5px
}



.main a img {
  border: 1px solid #BBB;
  padding: 2px; 
  margin: 10px 30px 10px 0;
  vertical-align: top;
}



/*main content*/
.main html,body{
	margin: 0;
	padding: 0;	
}

.main body {
	background: #F2F2F2;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
  _font-family: Tahoma, Arial, Helvetica, STHeiti, sans-serif;
	font-size: 13px;
	line-height: 1.6;
	color: #444;
}

.main{
	width: 50%;
	float: left;
	margin: 54px auto;
	margin-left: 10%;
	padding: 54px 60px;
	border: 1px solid #D2D2D2;
	-moz-box-shadow: 0 0 30px #CCC;
	-webkit-box-shadow: 0 0 30px #CCC;
	box-shadow: 0 0 30px #CCC;
	background: #FFF;
	background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 15px);
}

.main h1 {
	margin: 0;
	font-size: 28px;
	font-weight: normal;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
  _font-family: Tahoma, Arial, Helvetica, STHeiti, sans-serif;
  
}

.main h1 em {
	font-size: 50%;
	letter-spacing: -0.05em;
}

.main h2{
	margin: 0;
    height:25px;
	line-height:25px;
	margin:10px 0;
	padding-left:30px;
    padding: 3px;
	font-size:14px;
	color:#333;
}

.main hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #D8D8D8;
	margin-bottom: 20px;
	padding: 0;
}

.main p {
	margin: 4px;
	padding-bottom: 14px;
}

.sidebar  a:hover{
	color: #000;
	text-decoration:none;
}

.main ul {
	margin: -7px 0 24px 0;
}

/*Overviewstyle*/
#content_0 h2{
	margin: 0;
    height:25px;
	line-height:25px;
	margin:10px 0;
	padding-left:30px;
    padding: 3px;
	font-size:14px;
	color:#333;
}
#content_0 p {
	margin: 0px;
	padding-bottom: 14px;
	font-size:14px;
	color:#333;
}

#content_0 ul {
	margin: -7px 0 34px 0;
  margin-left: 23px;
  font-size:14px;
}

#content_0 

#content_0 a{
  font-size: 13px;
  color: #717D8A;
}
#content_0  a:hover{
  color: #1968BD;
}
#content_0 .tablestyle{
  width: 562px;
  height: 384px;
  background:#fffff3;
  width:100%;
  border-top:1px solid #c4c4c4;
  border-left:1px solid #c4c4c4;
  line-height:25px;
  
  color: rgb(171, 151, 151);
  border: 0;
  margin: 0;
  padding: 0;
  zoom:1;
}
#content_0 td{
  font-size: 16px;
  color: rgb(77, 65, 65);
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  text-align: center;
}

#content_0 .thead-row{
  height: 50px;
}

#content_0 .tfoot-row{
  height: 50px;
}

#content_0 .tablestyle{
  width: 562px;
  height: 384px;
  background:#fffff3;
  width:100%;
  border-top:1px solid #c4c4c4;
  border-left:1px solid #c4c4c4;
  line-height:25px;
  
  color: rgb(171, 151, 151);
  border: 0;
  margin: 0;
  padding: 0;
  zoom:1;
}

#content_0 .thead-row{
  height: 50px;
}
table{
  border-collapse:collapse;
  border-spacing:0
}

#content_0 td{
  font-size: 16px;
  color: rgb(77, 65, 65);
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  text-align: center;
}

#content_0 .row-Sun{
  width: 12%;
}
#content_0 .row-Mon{
  width: 12%;
}
#content_0 .row-Thu{
  width: 12%;
}
#content_0 .row-Wed{
  width: 12%;
}
#content_0 .row-Thur{
  width: 12%;
}
#content_0 .row-Fri{
  width: 12%;
}
#content_0 .row-Sat{
  width: 12%;
}
#content_0 .setting-header h2 {
  float: left;
  font-size: 16px;
  color: #0f3d5e;
  background: url(/img/icon/dianlog-sprite.$6393.png) no-repeat 0 -173px;
  padding-left: 25px;
  font-weight: normal;
}



/*#content_1 成绩查询*/
#content_1 .tablestyle{
  width: 562px;
  height: 384px;
  background:#fffff3;
  width:100%;
  border-top:1px solid #c4c4c4;
  border-left:1px solid #c4c4c4;
  line-height:25px;
  
  color: rgb(171, 151, 151);
  border: 0;
  margin: 0;
  padding: 0;
  zoom:1;
}

#content_1 td{
  font-size: 16px;
  color: rgb(77, 65, 65);
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  text-align: center;
}

#content_1 .thead-row{
  height: 50px;
}

#content_1 .tfoot-row{
  height: 50px;
}

/*#content_2 选课*/


#content_2 .tablestyle{
  width: 562px;
  height: 384px;
  background:#fffff3;
  width:100%;
  border-top:1px solid #c4c4c4;
  border-left:1px solid #c4c4c4;
  line-height:25px;
  
  color: rgb(171, 151, 151);
  border: 0;
  margin: 0;
  padding: 0;
  zoom:1;
}

#content_2 .thead-row{
  height: 50px;
}
table{
  border-collapse:collapse;
  border-spacing:0
}

#content_2 td{
  font-size: 16px;
  color: rgb(77, 65, 65);
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  text-align: center;
}

#content_2 .row-Sun{
  width: 12%;
}
#content_2 .row-Mon{
  width: 12%;
}
#content_2 .row-Thu{
  width: 12%;
}
#content_2 .row-Wed{
  width: 12%;
}
#content_2 .row-Thur{
  width: 12%;
}
#content_2 .row-Fri{
  width: 12%;
}
#content_2 .row-Sat{
  width: 12%;
}










/*个人简历style*/

.setting-header {
  width: 94%;
  margin: 0 auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: relative;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border: 1px solid #C6C8CB;
  border-bottom: none;
  box-shadow: inset 0 0 1px #dddfe1;
  background: url(/img/sidemenu-item.$5106.png) repeat;
  height: 30px;
  padding: 10px 0;
  line-height: 30px;
  padding-left: 38px;
  position: relative;
  zoom: 1;
}

.setting-header h2 {
  float: left;
  font-size: 16px;
  color: #0f3d5e;
  background: url(/img/icon/dianlog-sprite.$6393.png) no-repeat 0 -173px;
  padding-left: 25px;
  font-weight: normal;
}

.nest{
  margin-top:-11px;
  margin-left:-19px;
  margin-bottom:1px;   
}


#setting-editor .setting-item-main {
  padding-top: 10px;
  float: left;
  margin-left: 0;
  width: 630px;
}

#setting-goto-btn {
  position: absolute;
  right: 20px;
  top: 7px;
}

#setting-goto-btn .skin-button-willblue-mid-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 12px;
  width: 13px;
  height: 30px;
  background: url(/img/icon/setting-blog-goback.$5734.png) no-repeat;
}

.skin-button-willblue-mid {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 32px;
  line-height: 30px;
  padding-left: 5px;
  text-align: center;
  color: #FAFAFA;
}

.skin-button-willblue-mid .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 32px;
}

.skin-button-willblue-mid .ui-button-label {
  padding-right: 5px;
  height: 32px;
}

.skin-button-willblue-mid .ui-button-bg-left {
  background: url(/img/_will/button-bg.$5826.png) left -1000px no-repeat;
  _background: url(/img/_will/button-bg-ie.$5826.png) left -1000px no-repeat;
}
.skin-button-willblue-mid .ui-button-label {
  background: url(/img/_will/button-bg.$5826.png) right -1000px no-repeat;
  _background: url(/img/_will/button-bg-ie.$5826.png) right -1000px no-repeat;
}

#setting-goto-btn .skin-button-willblue-mid-text {
  padding-right: 10px;
}

.skin-button-willblue-mid-hover .ui-button-label {
  background: url(/img/_will/button-bg.$5826.png) right -1050px no-repeat;
  }

.skin-button-willblue-mid-hover .ui-button-bg-left {
  background: url(/img/_will/button-bg.$5826.png) left -1050px no-repeat;
  _background: url(/img/_will/button-bg-ie.$5826.png) left -1050px no-repeat;
}

#setting-holder {
  background: #F6F6F6;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #aeb1b5;
  padding-top: 20px;
  margin-top: -5px;
  box-shadow: 0 2px 2px rgba(173, 176, 179, 0.8);
  position: relative;
  z-index: 1;
}

#setting-email {
  border-top: none;
}
#setting-email .setting-item-main {
  line-height: 38px;
}
.setting-item {
  border-bottom: 1px solid #e1e1e1;
  clear: both;
  padding: 18px 0;
  padding-bottom:53px;
}

.setting-item label {
  width: 100px;
  color: #444;
  margin-right: 20px;
  display: inline;
  text-align: right;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 38px;
}

.setting-item-main {
  margin-left: 120px;
}

.setting-item-main label.label-for-checkbox,
.setting-item-main label.label-for-radio {
  padding: 0;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  cursor: pointer;
}

#setting-feed .label-for-checkbox {
  float: none;
  width: 160px;
}


#setting-feed .paging-feed {
  padding-top: 10px;
}

#setting-feed .paging-feed .label-for-checkbox {
  float: left;
}
#setting-editor label.label-for-radio {
  width: 40px;
}
#setting-mail .label-for-checkbox-last {
  width: 120px;
}
.setting-bottom-nav {
  text-align: left;
  height: 63px;
  padding: 0 50px 10px;
  line-height: 50px;
}

.setting-submit {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

.skin-button-willblue {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 39px;
  line-height: 37px;
  padding-left: 5px;
  text-align: center;
  color: #FFF;
}
.skin-button-willblue .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 39px;
}
.skin-button-willblue .ui-button-label {
  padding-right: 5px;
  height: 39px;
}
.skin-button-willblue .ui-button-bg-left {
  background: url(/img/_will/button-bg.$5826.png) left -600px no-repeat;
  _background: url(/img/_will/button-bg-ie.$5826.png) left -600px no-repeat;
}
.skin-button-willblue .ui-button-label {
  background: url(/img/_will/button-bg.$5826.png) right -600px no-repeat;
  _background: url(/img/_will/button-bg-ie.$5826.png) right -600px no-repeat;
}


.setting-item-main-clearfix{
	margin-left:120px;
}




/* content_4 style*/
#content_4 p{
  font-size: 15px;
  color: rgb(92, 92, 113);
} 