#logo-startpage .register-logo {
  width: 440px;
}
 #logo-startpage .register-logo a {
  margin: 0 auto;
}
 #logo-startpage .login-logo {
  width: 880px;
  margin-left:45px;
}


#startpage #login-wrap  {   
  position: relative;
  margin-left:50%;
  width: 480px;
  padding-bottom: 10px;
}
#startpage #login-form-wrap {
  width: 288px;
  margin: 40%;
}

#startpage .input-wrap {
  width: 288px;
  height: 52px;
  margin-bottom: 3px;
  background: url(/img/icon/startpage-0410.$6008.png) no-repeat -210px -52px;
  /*_background-image: url(/img/icon/startpage-0410-ie6.$6008.png);*/ 
  position: relative;
  margin-right: 5px;
}
#startpage .input-wrap .input-icon {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(/img/icon/startpage-1231.$5800.png) no-repeat;
  /*
  _background-image: url(/img/icon/startpage-1231-ie6.$5126.png);*/
  margin: 18px 0 0 15px;
  _margin-left: 8px;
}

#startpage #input-reg-email .input-icon,#startpage #input-login-email .input-icon {
  background-position: 0 -197px;
}

#startpage #input-reg-email.focus .input-icon,#startpage #input-login-email.focus .input-icon {
  background-position: 0 -147px;
}

 .input-wrap .input-icon {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(/img/icon/startpage-1231.$5800.png) no-repeat;
  /*_background-image: url(/img/icon/startpage-1231-ie6.$5126.png);*/
  margin: 18px 0 0 15px;
  _margin-left: 8px;
}

#startpage .startpage-input-text {
  width: 234px;
  padding: 10px;
  height: 32px;
  line-height: 32px;
  background: transparent url(/img/blank.$166.png) repeat;
  border: 0;
  outline: none;
  font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  position: absolute;
  font-size: 16px;
  color: #8F8F8F;
  z-index: 20;
}

#startpage html input:-webkit-autofill {
  background-color: #FFF !important;
}

#startpage .input-wrap label{
  position: absolute;
  width: 240px;
  height: 52px;
  margin: 0 10px;
  line-height: 52px;
  color: #ABACAD;
  font-size: 16px;
  left: 32px;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10;
}


#startpage #input-login-pwd {
  margin-bottom: 20px;
}


#startpage #input-login-pwd .input-icon {
  background-position: 0 -300px;
}
#startpage #input-reg-pwd.focus .input-icon,
#startpage #input-login-pwd.focus .input-icon {
  background-position: 0 -250px;
}
#startpage #input-login-pwd {
  margin-bottom: 20px;
}


#input-login-pwd .input-icon {
  background-position: 0 -300px;
}


 .input-wrap .tip {
  position: absolute;
  width: 197px;
  height: 36px;
  line-height: 36px;
  background: url(/img/icon/startpage-1231.$5800.png) no-repeat -300px -130px;
  /*_background-image: url(/img/icon/startpage-1231-ie6.$5126.png);*/
  top: 50px;
  left: 10px;
  text-align: center;
  color: #8F8958;
  font-size: 12px;
  z-index: 0;
}

#ctrlbuttonlogin-submitlabel {
  font-size: 14px;
  letter-spacing: 10px;
}

#startpage #login-help{
  margin-top: 10px;
  height: 15px;
}

#startpage #forget-password, #register-account {
  float: left;
  color: #9ea0a3;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
}
#startpage #forget-password:hover ,#register-account:hover{
  color: #8D8D8D;
}


/*Button Style*/
.skin-button-willblue {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 39px;
  line-height: 37px;
  padding-left: 5px;
  text-align: center;
  color: #FFF;
}

.skin-button-willblue .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 39px;
}

.skin-button-willblue .ui-button-label {
  padding-right: 5px;
  height: 39px;
}

.skin-button-willblue .ui-button-bg-left {
  background: url(/img/button/button-bg.$5826.png) left -600px no-repeat;
  _background: url(img/button/button-bg-ie.$5826.png) left -600px no-repeat;
}

.skin-button-willblue .ui-button-label {
  background: url(/img/button/button-bg.$5826.png) right -600px no-repeat;
  _background: url(img/button/button-bg-ie.$5826.png) right -600px no-repeat;
}

#startpage .hidden-submit {
  margin-left: 0px;
  height: 38px;
  width: 100%;
  color: #7c827c;
  font-family:  "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;  
}


 #footer {
float: right;
width: 100%;
font-size: 12px;
color: #9ea0a3;
bottom: 0px;
text-align: center;
clear: both;
margin-top: 21px;
margin-bottom: 11px;
}

 #relogin-footer {
float: right;
width: 100%;
font-size: 12px;
color: #9ea0a3;
bottom: 0px;
text-align: center;
clear: both;
margin-top: 0px;
margin-bottom: 11px;
}



#startpage .error-tip {
  width: 228px;
  padding: 0 20px 0 40px;
  line-height: 36px;
  margin-top: -15px;
  height: 40px;
  background: url(/img/icon/startpage-0410.$6008.png) no-repeat -200px -450px;
  _background-image: url(/img/icon/startpage-0410-ie6.$6008.png);
  margin-bottom: 20px;
  color: #69664F;
}