html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,
code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,
table,tbody,tr,th,td,input {
  padding: 0;
}

body {
  font-size: 12px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
  _font-family: Tahoma, Arial, Helvetica, STHeiti, sans-serif;
  background:url(/img/background.png) repeat;
  cursor: default;
}

 /* show scrollbar by default */
html {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* hn */
h1 {
  font-size: 16px;
  color: #9ea0a3;
}

h2,h3 {
  font-size: 14px;
}
h4,h5,h6 {
  font-size: 12px;
}

a {
  outline: none;  
}

/* link */
a,a:link,a:visited {
  text-decoration: none;
  color: #717D8A;
  cursor:pointer;
}
div{
  display: block;
}




#footer{
  float: right;
  width: 100%;
  font-size: 12px;
  color: #9ea0a3;
  bottom: 0px;
  text-align: center;  
  clear: both;
  margin-top:21px;
  margin-bottom: 11px; 
}
.footer-class{
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom :1px;  
}
#footer a,#footer a:link,#footer a:visited {
  color: #9ea0a3;
  text-decoration: none;
}
#footer .footer-item {
  margin-left: 6px;
}
#footer a:hover {
  color: #8d8d8d;
}